body {
  background:#121212;
  color:white;
  font-family:Inter;
  padding:40px;
}

.album-header {
  display:flex;
  gap:30px;
  margin-bottom:40px;
}

.album-header img {
  width:220px;
  border-radius:18px;
}

.song {
  background:#181818;
  padding:14px;
  margin-bottom:10px;
  border-radius:10px;
  cursor:pointer;
}
